@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light dark;
}
body, html{
  scrollbar-width: none;
  background-color: light-dark(#F9F9F9, #292D32);
  color: light-dark(#292D32, #F9F9F9);
}

.container {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  background-color: light-dark(#F9F9F9, #292D32);
  color: light-dark(#292D32, #F9F9F9);
}

.inner-container {
  padding: 1.5rem 0;
  width: 95%;
  columns: 220px;
  margin-top: 5%;
  background-color: light-dark(#F9F9F9, #292D32);
  color: light-dark(#292D32, #F9F9F9);
}

.searchcontainer{
  width: 100%;
  height: 10%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.searchbar{
  width: 95%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.46);
  backdrop-filter: blur(5px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px  5px #2A2D32;
  z-index: 1;
}
.searchbar input{
  width: 90%;
  border: 2px solid gray;
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
}

.searchbar input:focus{
  outline: none;
  border: 2px solid #D65A5A;
}

.login-container{
  height: 100vh;
  width: 100vw;
  background-image: url(/public/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-subcontainer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login-card{
  height: 100%;
  width: 50%;
  background-color:light-dark( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px 0px 0px  30px;
  gap: 1rem;
}

.login-card img{
  height: 5rem;
}

.login-card h1{
  font-size: 2rem;
}

.login-card span{
  color: #D65A5A;
}

.login-card form{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Input Fields */
.common-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.375rem;
  font-size: 1rem;
}

.common-input:focus {
  outline: none;
  border: 1px solid #D65A5A;
  box-shadow: 0px 0px 3px #D65A5A;
}

/* Submit Button */
.common-btn {
  display: block;
  width: 100%;
  background-color: #ef4444;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.common-btn:hover {
  background-color: #D65A5A; 
}

.loading{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img{
  width: 50%;
}


.no-pins {
  text-align: center;
  color: gray;
  font-size: 1rem;
}

.navbar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 5%;
  position: fixed;
  z-index: 2;
}

.navbar-inner {
  height: 100vh;
  padding: 20px 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: light-dark(#F9F9F9, #292D32);
  color: light-dark(#292D32, #F9F9F9);
}

.navbar-logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 3%;
}

.navbar-logo img {
  height: 2rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  padding: 5%;
  width: 90%;
  border-radius: 0px 30px 30px 0px;
  transition: 0.2s linear;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.nav-link:hover {
  background-color: #ef4444;
}

/* User Avatar */
.user-avatar {
  width: 2rem; /* Equivalent to w-8 */
  height: 2rem; /* Equivalent to h-8 */
  border-radius: 50%;
  background-color: #d1d5db; /* Equivalent to bg-gray-300 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem; /* Equivalent to text-xl */
  color: #4a4a4a; 
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.profile-wrapper {
  /* background-color: #374151; */
  padding: 1.5rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.profile-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #d1d5db; /* Tailwind's gray-300 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-avatar span {
  font-size: 1.875rem; /* Tailwind's text-3xl */
  color: #374151; /* Tailwind's gray-700 */
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-email {
  text-align: center;
  color: #6b7280;
}

.follow{
  color: #6b7280;
  display: flex;
  gap: 1rem;
}

.follow-button{
  width: 100%;
  display: flex;
  justify-content: center;
}

.logout-button {
  background-color: #d1d5db;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border: none;
}

.logout-button:hover {
  background-color: #ef4444; 
}


/* Container */
.upload-container {
  display: flex;
  width: 100vw;
  padding: 5% 0%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  

}

/* File Upload Box */
.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: auto;
  padding: 1.5rem;
  background-color: light-dark(#F9F9F9, #292D32);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.upload-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.upload-box .upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.upload-box input {
  display: none;
}

.upload-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: light-dark(#292D32, #F9F9F9);
  color: #ef4444;
  border-radius: 50%;
}

.upload-text {
  color: #6b7280;
}

.upload-instructions {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #9ca3af; /* gray-400 */
  text-align: center;
  
}

/* Form Container */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  background-color: light-dark(#F9F9F9, #292D32);
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Form Box */
.form-box {
  width: 100%;
  max-width: 32rem;
  padding: 1.5rem;
  background-color: white;
  background-color: light-dark(#F9F9F9, #292D32);
  color: light-dark(#292D32, #F9F9F9);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.pincard{
  width: 90%;
  margin: 10px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px){

  
  .navbar{
    width: 100vw;
    height: 6%;
    z-index: 1;
    bottom: 0%;
  }

  .navbar-inner{
    width: 100vw;;
    height: 100%;
  }

  .nav-links{
    display: flex;
    flex-direction: row;
  }

  .nav-link{
    display: flex;
    justify-content: center;
  }

  .nav-link i{
    font-size: 24px;
  }

  .nav-link span{
    display: none;
  }

  .nav-link:hover{
    background-color: transparent;
  }

  .navbar-logo{
    display: none;
  }

  .container{
    padding: 0;
    padding-bottom: 50%;
  }

  .inner-container{
    margin-top: 4rem;
    width: 100vw;
    columns: 160px;
    padding: 5px;
    gap: 0px;
  }

  .profile-container{
    padding-bottom: 50%;
  }

  .profile-wrapper{
    width: 100vw;
    /* background-color: #374151; */
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .details{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  .user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-avatar{
    height: 5rem;
    width: 5rem;
  }

  .logout-button{
    position: absolute;
    right: 5%;
    font-size: 1.2rem;
    background-color: transparent;
  }

  .logout-button span{
    display: none;
    padding: 0;
  }

  .follow-button{
    justify-content: flex-start;
  }

  .pincard{
    width: 90%;
  }

  .upload-container{
    padding-bottom: 20%;
  }

  .login-card{
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .login-card form{
    width: 60%;
  }
  
  .searchcontainer{
    width: 100%;
    height: 10%;
    /* background-color: gray; */
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }
  
  .searchbar{
    width: 100%;
    height: 6%;
    padding: 0.5rem;
  }
  .searchbar input{
    width: 98%;
  }


}






.pin-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.pin-page-wrapper {
  border-radius: 0.5rem; 
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 56rem;
}

.image-container {
  width: 50%;
  background-color: light-dark(#F9F9F9, #292D32);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.content-container {
  width: 50%; 
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem; /* Tailwind: mb-4 */
}

.edit-input {
  width: 200px;
  border: 1px solid #ef4444;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.update-button {
  width: 200px;
  background-color: #ef4444; /* Tailwind: bg-red-500 */
  color: #fff; /* Tailwind: text-white */
  padding: 0.25rem 0.75rem; /* Tailwind: py-1 px-3 */
  margin: 0.5rem 0; /* Tailwind: mt-2 mb-2 */
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.delete-button {
  background-color: #ef4444; /* Tailwind: bg-red-500 */
  color: #fff;
  padding: 0.8rem ;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.2rem;
}

.description {
  margin-bottom: 1.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 1rem; 
  margin-bottom: 1rem; 
}

/* User avatar (circle) */
.avatar {
  border-radius: 50%;
  height: 3rem; /* Tailwind: h-12 */
  width: 3rem; /* Tailwind: w-12 */
  background-color: light-dark(#292D32, #F9F9F9);
  color:light-dark(#F9F9F9, #292D32);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Margin left for user details */
.user-details {
  margin-left: 1rem; 
}

/* User name text */
.user-name {
  font-size: 1.125rem; 
  font-weight: 600;
}

/* Follower count text */
.followers {
  color: #6b7280; /* Tailwind: text-gray-500 */
}

.comment-section {
  display: flex;
  align-items: center;
  margin-top: 1rem; 
}

.comment-form {
  flex: 1;
  display: flex;
}

.comment-input {
  width: 60%;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
}


.send-button {
  margin-left: 0.5rem; 
  background-color: #ef4444; 
  color: #fff;
  padding: 0.5rem 1rem; 
  border: none;
  border-radius: 15%; 
  cursor: pointer;
}

.divider {
  margin: 0.75rem 0; 
  border: none;
  border-top: 1px solid #cbd5e0; 
}


.comment-list {
  overflow-y: auto;
  height: 16rem; 
}

.comment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem; /* Tailwind: mb-4 */
}


.comment-content {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* Tailwind: gap-3 */
}

.delete-comment-button {
  background-color: #ef4444; 
  color: #fff;
  padding: 0.5rem; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width:700px){
  .image-container{
    width: 100%;
  }
  .content-container{
    width: 100%;
  }
  .pin-page-container{
  padding-bottom: 50%;
  }
}
